.agenda {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 300;
  color: rgba(55, 0, 255, 0.205) !important;
}

a.btn.btn-secondary.btn-lg {
  width: 175px;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 5em;
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-social-buttons i {
  font-size: 80%;
}

@media (max-width: 767px) {
  .intro-message {
    padding-bottom: 15%;
  }
  .intro-message > h1 {
    font-size: 3em;
  }
  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }
  .intro-divider {
    width: 100%;
  }
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px 0;
  background-color: black;
  color: white;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

.sec .teamBx {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}

.sec .teamBx .member {
  position: relative;
  background: #000;
  min-height: 300px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec .teamBx .member .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sec .teamBx .member .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec .teamBx .member .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dourado);
  transition: 0.2s;
  opacity: 0;
}

.sec .teamBx .member .details:hover {
  opacity: 1;
}

.sec .teamBx .member .details h2 {
  color: var(--branco);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}

.sec .teamBx .member .details h2 span {
  display: block;
  font-size: 12px;
  font-weight: 300;
}

.cor {
  color: white;
  text-shadow: red 2px 5px 5px;
}

.sec .content {
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #00CCAB;
  color: black;
}

.linhaa{
  background-color: #00CCAB;
}